﻿@{
}
<div class="row">
    <div class="jumbotron col-md-12 clear-padding" style="background-color:#fff;">
        <img src="~/Content/images/about/product-bg.jpg" class="img-responsive"/>
        <div class="col-md-8 col-centered" style="text-align:center; margin:40px auto;">
            <p class="lead"><b>Amado Group Corporation</b>, the company behind the successful brands like <b>Boulangerie22</b> and <b>Yoree Korean Barbecue Dining</b>, is bringing <b>SOUTH KOREA'S BIGGEST</b> and <b>HOTTEST</b> talk of the town sandwich in the <b>PHILIPPINES</b> this 2019.</p>
            <br />
            <p class="lead">This craze became so popular as your favorite K-Pop Idols such as <b>BTS, Seventeen, Blackpink, Twice, MonstaX and Chungha</b> exprienced the heavenly taste of this famouse <b>#IDOLSANDWICH</b>.</p>
            <br />
            <p class="lead">With its popularity in South Korea, countries like Taiwan and Hongkong decided to acquire the ORIGINAL RECIPE of Inkigayo Sandwich.</p>
        </div>
        <img src="~/Content/images/about/abou-truck.png" class="img-responsive"/>
    </div>
    <div class="col-md-12 clear-padding clear-padding">
        <img src="~/Content/images/about/prod-bg.jpg" alt="0" style="width: 100%;">
    </div>
</div>