﻿
@{
    
}

<div class="row">
    <img src="~/Content/images/branch-img.jpg" class="img-responsive" alt="sbs img" style="border:solid 1px #dedede;"/>
    <div class="container clear-padding">
        <div class="col-md-6 col-centered" style="text-align:center; margin:20px auto;">
            <p class="lead" style="font-size:16px;">
                Originated from South Korea, spreading to <b>Taiwan</b> and <b>Hongkong</b>...
                <br />
                <br />
                NOW, it’s time for the <b>Philippines</b> to taste the addictively delicious <b>INKIGAYO SANDWICH</b> from one place to another, through our <b>FOOD TRUCK!</b>
            </p>
        </div>
        <div class="container clear-padding" style="background-color:#ebebeb;">
            <div class="col-md-8 col-centered" style="text-align:center; margin:20px auto;">
                <img src="~/Content/images/branch/branch-content.png" class="img-responsive" alt="sbs branch" />
            </div>
        </div>
    </div>

    
</div>
