﻿@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <div id="media" class="carousel slide home-carousel" data-ride="carousel">
        <ol class="carousel-indicators">
            @*@foreach (var itm in Model.OrderByDescending(n=>n.no))*@
            <li data-target="#media" data-slide-to="0" class="active"></li>
            <li data-target="#media" data-slide-to="1" class=""></li>
            <li data-target="#media" data-slide-to="2" class=""></li>
            <li data-target="#media" data-slide-to="3" class=""></li>
        </ol>

        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <a href="#">
                    <img src="~/Content/carousel/banner-1.jpg" alt="0" style="width: 100%;">
                </a>
                <div class="carousel-caption">
                </div>
            </div>
            <div class="item">
                <a href="#">
                    <img src="~/Content/carousel/banner-2.jpg" alt="0" style="width: 100%;">
                </a>
                <div class="carousel-caption">
                </div>
            </div>
            <div class="item">
                <a href="#">
                    <img src="~/Content/carousel/banner-3.jpg" alt="0" style="width: 100%;">
                </a>
                <div class="carousel-caption">
                </div>
            </div>
            <div class="item">
                <a href="#">
                    <img src="~/Content/carousel/banner-4.jpg" alt="0" style="width: 100%;">
                </a>
                <div class="carousel-caption">
                </div>
            </div>
        </div>
    </div>
</div>


<div class="jumbotron col-md-12">
    <div class="col-md-8 col-centered" style="text-align:center; margin:20px auto;">
        <h5 class="jumbo-title">THE INKIGAYO SANDWICH</h5>
        <p class="lead">SBS Inkigayo is a music show in South Korea where famous and new K-POP idols perform their new songs every week. Within the premise of the building, inside the cafeteria, is the addictively delicious sandwich which is loved by Korean stars and has caused a stir among K-Pop fans worldwide. </p>
        <p class="lead" style="margin-top:20px;">Hence, the birth of <b>INKIGAYO SANDWICH.</b></p>
    </div>
    <div class="col-md-4 col-centered">
        <img src="~/Content/images/home-sandwich.png" class="img-responsive" alt="Inkigayo Sandwhich" />
    </div>
</div>


<div class="row" style="margin-bottom:20px;">
    <div class="col-sm-4 div-fb" style="margin-top:20px;">
        <span class="social-title blue">FACEBOOK</span>
        <div class="col-md-12 div-social fb-container">
            <div class="fb-page" data-href="https://www.facebook.com/sbsinkigayosandwichph/" data-height="484" data-width="360" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="true">
                <div class="fb-xfbml-parse-ignore">
                    <blockquote cite="https://www.facebook.com/sbsinkigayosandwichph/"><a href="https://www.facebook.com/sbsinkigayosandwichph/">Boulangerie22 Philippines</a></blockquote>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4 div-ig" style="margin-top:20px;">
        <span class="social-title red">INSTAGRAM</span>
        <div class="col-md-12 div-social">
            <!-- SnapWidget -->
            <iframe src="https://snapwidget.com/embed/704338" class="snapwidget-widget" allowtransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%; height:465px"></iframe>
            <div style="font:10px/14px 'Roboto','Helvetica Neue',Arial,Helvetica,sans-serif;font-weight:400;width:100%;text-align:right"><a href="https://snapwidget.com/free-widget" style="color:#777;text-decoration:none;">SnapWidget · Free Widget</a></div>
        </div>
    </div>
    <div class="col-sm-4 div-vid" style="margin-top:20px;">
        <span class="social-title yellow">VIDEOS</span>
        <div class="col-md-12 div-social">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe width="100%" height="215" src="https://www.youtube.com/embed/Qdaw1A2y4cA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <br />
            <div class="embed-responsive embed-responsive-16by9">
                <iframe width="100%" height="215" src="https://www.youtube.com/embed/BJp_6B9M-rY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        //Resize Facebook feed
        $(window).on('resize', function () {
            setTimeout(function () { changeFBPagePlugin() }, 500);
        });

        $(window).on('load', function () {
            setTimeout(function () { changeFBPagePlugin() }, 1500);
        });

        changeFBPagePlugin = function () {
            //var container_width = Number($('.fb-container').width()).toFixed(0);
            var container_width = Number($('.fb-container').width());
            //var container_height = Number($('.fb-container').height()).toFixed(0);
            //console.log(container_width);
            //if (!isNaN(container_width) && !isNaN(container_height)) {
            if (!isNaN(container_width)) {
                //$(".fb-page").attr("data-width", container_width).attr("data-height", container_height);
                $(".fb-page").attr("data-width", container_width);
            }
            if (typeof FB !== 'undefined') {
                FB.XFBML.parse();
            }
        };
    </script>
}