﻿
@{
    
}

<div class="row">
    <div class="jumbotron col-md-12 clear-padding" style="background-color:#fff;">
        <img src="~/Content/images/news/news-bg.png" class="img-responsive"/>

        <div class="col-md-10 col-centered div-news" style="margin:40px auto; height: auto;">
            <span class="social-title blue" style="width:140px;">ARTICLES</span>
            <div class="col-md-12 clear-padding" style="border-top:solid 3px #1b4a9c; position:relative;">
                <div class="row" style="padding-top:10px; padding-bottom:10px;">
                    <div class="col-md-3">
                        <div class="media-left">
                            <a href="#">
                                <img class="img-responsive" src="https://www.carizzachua.com/wp-content/uploads/2019/06/A43610E9-3746-4582-9035-A8FDC84EF90F-1024x683.jpeg" />
                            </a>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <h2>SBS INKIGAYO SANDWICH IS NOW IN MANILA!</h2>
                        <p>
                            If you’re wondering what’s Inkigayo sandwich, it’s a sandwich in Korea which became famous because of its taste, filling and because it is actually popular among KPOP Idols. It all started at SBS music show, named after the music show itself, “Inkigayo” and the kpop idols would eat it during breaks. Here’s Jennie from Blackpink enjoying her Inkigayo sandwich.
                        </p>
                        <a href="https://www.carizzachua.com/2019/06/sbs-inkigayo-sandwich-is-now-in-manila/" target="_blank">read more...</a>
                    </div>
                </div>

                <div class="row" style="padding-top:10px; padding-bottom:10px;">
                    <div class="col-md-3">
                        <div class="media-left">
                            <a href="#">
                                <img class="img-responsive" src="https://1.bp.blogspot.com/-hphRBGgIRoY/XQpLpK81reI/AAAAAAAAioA/y1hGP1iUxmQNW-eIMi-F9LU6d_eBQUBQwCLcBGAs/s1600/Snapseed_2.jpg" />
                            </a>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <h2>SBS Inkigayo Sandwich is in Manila</h2>
                        <p>
                            KPOP fans would be familiar with the SBS music show Inkigayo which is a similar concept to KBS's Music Bank. But one thing Inkigayo has that Music Bank doesn't is a famous idol sandwich. Inkigayo sandwich became a popular snack thanks to the KPOP stars who seem to be fond of it. And though the coleslaw, egg salad and strawberry jam combination sounds as weird as the English translation to some of our favorite songs, it surprisingly works!
                        </p>
                        <a href="http://www.whatmaryloves.com/2019/06/sbs-inkigayo-sandwich-is-in-manila.html" target="_blank">read more...</a>
                    </div>
                </div>

                <div class="row" style="padding-top:10px; padding-bottom:10px;">
                    <div class="col-md-3">
                        <div class="media-left">
                            <a href="#">
                                <img class="img-responsive" src="https://clarisays.files.wordpress.com/2019/06/sbs-inkigayo-sandwich-ph-1.jpeg" />
                            </a>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <h2>SBS Inkigayo Sandwich is Finally in the Philippines</h2>
                        <p>
                            Do you love K-pop? If yes, then you’ve probably heard about Korea’s favourite idol sandwich. If not, then I’m very happy to share with you all about the SBS Inkigayo Sandwich.<br />
                            SBS stands for Seoul Broadcasting System, a national South Korean television and radio network company while Inkigayo is the network’s music program. Since the sandwich is exclusively available inside the SBS Inkigayo’s Studio, it was known as the Inkigayo Sandwich.
                        </p>
                        <a href="https://clarisays.com/2019/06/21/sbs-inkigayo-sandwich-is-finally-in-the-philippines/" target="_blank">read more...</a>
                    </div>
                </div>

                <div class="row" style="padding-top:10px; padding-bottom:10px;">
                    <div class="col-md-3">
                        <div class="media-left">
                            <a href="#">
                                <img class="img-responsive" src="https://i2.wp.com/annyeongoppa.com/wp-content/uploads/2019/06/FB_IMG_1559615774346.jpg?w=800&ssl=1" />
                            </a>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <h2>LOOK: Korea’s Favorite Idol Sandwich is Finally Coming to the Philippines!</h2>
                        <p>
                            Have you been waiting to officially taste the SBS Inkigayo Sandwich? Guess what! Korea’s favorite idol sandwich is finally coming to the Philippines!<br />
                            Last May 31, Inkigayo Sandwich has posted a new update. With the caption, “Hey KPOP Fans, your favorite #IdolSandwich is getting nearer to give you the “Omo!~” feels with its deliciously addictive taste. Sing your heart out as we slip you all the love and funk to our new #InkigayoSandwich.”
                        </p>
                        <a href="https://annyeongoppa.com/2019/06/04/look-koreas-favorite-idol-sandwich-is-finally-coming-to-the-philippines/" target="_blank">read more...</a>
                    </div>
                </div>

                <div class="row" style="padding-top:10px; padding-bottom:10px;">
                    <div class="col-md-3">
                        <div class="media-left">
                            <a href="#">
                                <img class="img-responsive" src="https://www.karenmnl.com/wp-content/uploads/2019/06/Inkigayo-Sandwich-Bite.jpg" />
                            </a>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <h2>The Trending INKIGAYO Sandwich Arrives in Manila!</h2>
                        <p>
                            There is a trending sandwich and its name is the Inkigayo Sandwich.<br />
                            When even Buzzfeed is making videos on this sandwich, you know the hype is real 🙂<br />
                            Earlier this week, I was at the media preview of the official SBS Inkigayo Sandwich that will soon be available in Metro Manila!
                        </p>
                        <a href="https://www.karenmnl.com/inkigayo-sandwich-manila/" target="_blank">read more...</a>
                    </div>
                </div>

                <div class="row" style="padding-top:10px; padding-bottom:10px;">
                    <div class="col-md-3">
                        <div class="media-left">
                            <a href="#">
                                <img class="img-responsive" src="https://secureservercdn.net/198.71.233.9/04d.48c.myftpupload.com/wp-content/uploads/2019/06/2019-06-18-14.28.18-1024x768.jpg" />
                            </a>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <h2>Inkigayo Sandwich: Trendy K-Pop Idol Sandwich Comes to Manila!</h2>
                        <p>The deliciously addictive SBS Inkigayo Idol Sandwich that has K-pop fans going Krazy is finally in Manila! The triangular sandwich might be no more than coleslaw, strawberry jam and egg salad with kani between soft fluffy white bread, but K-pop celebrities love it and so do we!</p>
                        <a href="https://konyoqueen.com/2019/06/23/inkigayo-k-pop-idol-sandwich-comes-to-manila/" target="_blank">read more...</a>
                    </div>
                </div>

                <div class="row" style="padding-top:10px; padding-bottom:10px;">
                    <div class="col-md-3">
                        <div class="media-left">
                            <a href="#">
                                <img class="img-responsive" src="https://www.animetric.net/wp-content/uploads/2019/06/inkigayo_sandwich_ph1.jpg" />
                            </a>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <h2>SBS INKIGAYO SANDWICH, THE SANDWICH OF K-POP STARS</h2>
                        <p>You could say I’m a sandwich person. I don’t mind having sandwiches for breakfast, lunch, or dinner. As long as it’s delicious and filling, game on. I’m not the type who can’t live without rice. Anyhow, having recently been addicted to K-Dramas, I’m just fascinated with all things Korean. In fact I now have a K-Pop Spotify playlist. So… when I heard that SBS Inkigayo Sandwich is coming to the Philippines, I knew I just had to be there!</p>
                        <a href="https://www.animetric.net/sbs-inkigayo-sandwich-philippines.html" target="_blank">read more...</a>
                    </div>
                </div>

                <div class="row" style="padding-top:10px; padding-bottom:10px;">
                    <div class="col-md-3">
                        <div class="media-left">
                            <a href="#">
                                <img class="img-responsive" src="https://i2.wp.com/live.staticflickr.com/65535/48228616246_26b0e1e961_b.jpg?resize=900%2C600&ssl=1" />
                            </a>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <h2>SBS Inkigayo Sandwich – From Korea to Philippine K-POP scene</h2>
                        <p>I am not really a sandwich kind of guy, but I can definitely say I prefer having sandwich over burgers. That of course still depends on what’s inside as the filling. It might be difficult for me to be please over burgers and sandwiches but once I found something really good I make sure to remember and stick on to it.</p>
                        <a href="https://www.nognoginthecity.com/2019/07/07/sbs-inkigayo-sandwich-kpop-eastwood/" target="_blank">read more...</a>
                    </div>
                </div>

                <div class="row" style="padding-top:10px; padding-bottom:10px;">
                    <div class="col-md-3">
                        <div class="media-left">
                            <a href="#">
                                <img class="img-responsive" src="https://lh3.googleusercontent.com/dX6tRHYZiSeIlDKd1szA3Z5p4UH8xUYIb0nTx-0UiNMgO01RmsuU68tiiaioKVmY9DnR8EJO55gnG2LuQhkwYGj07vTdWmtz4Q=w1600-rj" />
                            </a>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <h2>Idols Are Obsessed Over This Sandwich Sold Only At SBS Inkigayo</h2>
                        <p>From BTS to TWICE, G-Dragon and many more, idols are completely obsessed with this sandwich!<br />If your favorite K-Pop idol has already debuted, it is highly probable that they’ve already tried and maybe even loved this food!</p>
                        <a href="https://www.koreaboo.com/news/idols-obsessed-sandwich-sold-sbs-inkigayo/" target="_blank">read more...</a>
                    </div>
                </div>

                <div class="row" style="padding-top:10px; padding-bottom:10px;">
                    <div class="col-md-3">
                        <div class="media-left">
                            <a href="#">
                                <img class="img-responsive" src="https://cdn.kstarlive.com/resource/2018/08/07/temp_517a530b16ff4ec8a1f0f5cb7dc1ba68.jpg" />
                            </a>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <h2>This is How You Can Make the Famous `Inkigayo Sandwich` at Your Home</h2>
                        <p>If you are an avid fan of K-pop, you must have heard about the famous 'Inkigayo sandwich' which can be found only at SBS' 'Inkigayo.'</p>
                        <p>Recently, former MADTOWN member H.O took to his Youtube channel and uploaded a tutorial to make the famous 'Inkigayo sandwich.'</p>
                        <a href="https://www.kstarlive.com/This-is-How-You-Can-Make-the-Famous--Inkigayo-Sandwich--at-Your-Home-5990518" target="_blank">read more...</a>
                    </div>
                </div>

                <div class="row" style="padding-top:10px; padding-bottom:10px;">
                    <div class="col-md-3">
                        <div class="media-left">
                            <a href="#">
                                <img class="img-responsive" src="https://img.kpopmap.com/2018/07/inkigayo-sandwich-cover.jpg" />
                            </a>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <h2>Netizens Want A Bite Of Famous ‘Inkigayo’ Sandwich, Approved By SEVENTEEN & More</h2>
                        <p>Have you heard of the famous ‘Inkigayo’ sandwich praised for its taste by K-Pop idols?</p>
                        <p>During SBS “Inkigayo” recording yesterday, SEVENTEEN members treated their fans who turned up for the recording with sandwiches from the convenience store located there.</p>
                        <a href="https://www.kpopmap.com/netizens-want-a-bite-of-famous-inkigayo-sandwich-approved-by-seventeen-more/" target="_blank">read more...</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
