﻿
@{

}


<div class="row">
    <div class="col-md-12 clear-padding div-product">
        <img src="~/Content/images/product/prod-bg.png" class="img-responsive"/>
        <div class="col-md-8 col-centered" style="text-align:center; margin-bottom:40px;">
            <h2>THE INKIGAYO SANDWICH</h2>
            <h5>The Taste of Idol</h5>
            <p class="lead">
                <br />
                Brand as “Idol Sandwich” in South Korea due to its popularity amongst K-Pop Superstars, this Inkigayo Sandwich is deliciously addictive and became viral on different Social Media platforms woldwide.
                <br />
                <br />
            </p>
            <img src="~/Content/images/product/kpop-bg.png" class="img-responsive"/>
        </div>
    </div>
    <div class="col-md-12 clear-padding clear-padding">
        <img src="~/Content/carousel/banner-2.jpg" alt="0" style="width: 100%;">
    </div>
</div>