﻿body {
    /*padding-top: 150px;*/
    margin:0;
    padding-top:0px;
    padding-bottom: 0px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    top:150px !important;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-bg {
    background: url(/Content/images/header-bg.png) repeat-x !important;
    border-color: transparent !important;
    min-height: 150px !important;
}

.navbar-menu {
    height: 150px;
}


.navbar-brand {
    background: url(/Content/images/sbs-logo.png) no-repeat !important;
    height: 93px !important;
    width: 150px !important;
    background-size: contain !important;
    margin-top: 45px !important;
    background-position: center center;
    margin-left: 15px !important;
}


.navbar-nav {
    margin-top: 60px !important;
    float: right !important;
}

.menu-product {
    height: 64px;
    background: url(/Content/images/menu-product.png) no-repeat !important;
    background-size: 40px 40px !important;
    background-position: top center !important;
    text-align: center;
}

.menu-about {
    height: 64px;
    background: url(/Content/images/menu-about.png) no-repeat !important;
    background-size: 40px 40px !important;
    background-position: top center !important;
    text-align: center;
}

.menu-countries {
    height: 64px;
    background: url(/Content/images/menu-countries.png) no-repeat !important;
    background-size: 40px 40px !important;
    background-position: top center !important;
    text-align: center;
}

.menu-news {
    height: 64px;
    background: url(/Content/images/menu-news.png) no-repeat !important;
    background-size: 40px 40px !important;
    background-position: top center !important;
    text-align: center;
}

.navbar-nav > li > a{
    padding-bottom:0px !important;
}

.nav > li > a {
    padding-top: 45px !important;
    padding-left:25px !important;
    padding-right:25px !important
}

.jumbotron{
    padding:0 !important;
}

.carousel-indicators{
    top:390px;
}

.carousel-indicators .active {
    background-color: #fcd929;
}

    .carousel-indicators li {
        background-color: #ebebeb;
        border: solid 1px #ebebeb;
    }

.home-carousel {
    position: relative;
    border: solid 1px #ebebeb;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #9d9d9d;
}

.container .jumbotron, .container-fluid .jumbotron {
    border-radius: 0px;
    margin-bottom:0px;
}

.jumbotron .jumbo-title {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 40px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
}

.jumbotron .lead {
    font-size: 16px;
    margin: 0 auto;
    line-height: 16px;
    text-align: justify;
    text-align-last: center;
}

.container .home-sandwich {
    margin-top: 50px;
    padding:0px;
    text-align:center;
}

.container .home-sandwich img{
    margin-bottom:40px;
}

.container .home-sandwich span {
    display: inline-block;
}

    .container span {
        display: inline-block;
    }

.img-fluid {
    max-width: 100%;
    height: auto;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
}

.div-social {
    background-color: #adadad;
    border-radius: 0px 5px 8px 8px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.social-title{
    font-size:18px;
    font-weight:bold;
    font-style:italic;
    padding:4px 20px;
    color:#fff;
    margin-top:0px;
    margin-bottom:0px;
    display:compact;
    width:40%;
    text-align:center;
}

.blue {
    background-color: #1b4a9c;
    border-radius: 8px 8px 0px 0px;
}

.red {
    background-color: #e41e26;
    border-radius: 8px 8px 0px 0px;
}

.yellow {
    background-color: #f29825;
    border-radius: 8px 8px 0px 0px;
}

.div-fb {
    padding-top: 30px;
    background: url(/Content/images/fg-img.png) no-repeat;
    background-position: top right 15px;
    background-size: 20%;
}

.div-ig {
    padding-top: 30px;
    background: url(/Content/images/ig-img.png) no-repeat;
    background-position: top right 17px;
    background-size: 18%;
}

.div-vid {
    padding-top: 30px;
    background: url(/Content/images/vid-img.png) no-repeat;
    background-position: top right 10px;
    background-size: 19%;
}

.clear-padding{
    padding:0px;
}

.nav-footer {
    margin: auto;
    text-align: center;
}

    .nav-footer ul {
        text-align: center;
        vertical-align: middle;
        list-style-type: none;
        padding: 0;
        overflow: hidden;
        display: inline-block;
        text-align: center;
        margin:0 auto;
    }

footer {
    background-color: #e0e0df;
    border-bottom: solid 10px #f09526;
}

.nav-footer li {
    float: left;
}

    .nav-footer li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        color: #798398 !important;
    }

.nav-footer li a img{
    height:40px;
    width:40px;
    margin-right:10px;
}

.div-about {
    background: url(images/about/product-bg.jpg) no-repeat;
}

.div-product2 {
    background: url(images/product/product-bg2.jpg) no-repeat;
    background-size:contain;
}

.div-news {
    padding-top: 60px;
    background: url(/Content/images/ig-img.png) no-repeat;
    background-position: top right 15px;
    background-size: 10%;
}

.media-left img {
    float: left;
    height: 150px;
    width: 100%;
    object-fit: cover;
    // here
}

.div-news h2{
    margin-top:5px;
    margin-bottom:10px;
    font-size:16px;
    font-weight:bold;
}

.div-news p{
    font-size:12px;
    line-height:13px;
}

.navbar-toggle {
    margin-top: 50px !important;
    margin-right: 15px;
    background-color: #e0e0df;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: #f09526;
}

.mobile-menu {
    display: none;
    z-index: 9999999;
    position: absolute;
    border: solid 2px #f09526;
    background-color: #f7b565;
    top:85px;
    right:12px;
    border-radius:5px;
}

.mobile-menu ul{
    list-style:none;
    margin:10px;
    padding-left:0px;
}

    .mobile-menu ul li{
        padding:8px;
        font-weight:bold;
        font-size:14px;
    }

@media (max-width:768px){
    .carousel-indicators{
        display:none;
    }
}

@media (min-width: 768px){
    .social-title .blue{
        font-size:10px;
    }
}