﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="/content/sbs-logo.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inkigayo Sandwich PH</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar-bg navbar navbar-inverse navbar-top">
        <div class="container navbar-menu">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".mobile-menu">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(" ", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>

            <div class="mobile-menu">
                <ul>
                    <li><a href="/Home/Product">OUR PRODUCT</a></li>
                    <li><a href="/Home/About">ABOUT</a></li>
                    <li><a href="/Home/Branch">OTHER COUNTRIES</a></li>
                    <li><a href="/Home/News">NEWS</a></li>
                </ul>
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("OUR PRODUCT", "Product", "Home", null, new { @class = "menu-product" })</li>
                    <li>@Html.ActionLink("ABOUT", "About", "Home", null, new { @class = "menu-about" })</li>
                    <li>@Html.ActionLink("OTHER COUNTRIES", "Branch", "Home", null, new { @class = "menu-countries" })</li>
                    <li>@Html.ActionLink("NEWS", "News", "Home", null, new { @class = "menu-news" })</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <div class="row">
            <footer>
                <div class="nav-footer">
                    <ul>
                        <li><a href="https://www.facebook.com/sbsinkigayosandwichph/"><img src="~/Content/images/ico-fb.png" /> sbsinkigayosandwichph</a></li>
                        <li><a href="https://www.instagram.com/inkigayosandwich.ph/?hl=en"><img src="~/Content/images/ico-ig.png" /> inkigayosandwich.ph</a></li>
                        <li><a href="/"><img src="~/Content/images/ico-tw.png" />sbsinkigayosandwichph</a></li>
                    </ul>
                </div>
                <p style="margin-bottom:0px; padding-bottom:0px; display:block; text-align:center;">&copy; @DateTime.Now.Year - SBS Inkigayo Sandwich PH</p>
            </footer>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-123520473-2"></script>
    <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-123520473-2');
    </script>

</body>
</html>
